[2016-05-19 23:53] loicsf opened #1 "Right panel alignment issue on Safari (Version 9.1 (11601.5.17.1))"
It works fine on Chrome (OSX) but on Safari I get the right panel mis-aligned (see attachment).
<img width="1674" alt="spectacle-safari" src="https://cloud.githubusercontent.com/assets/1976539/15413117/21db69ac-1de2-11e6-8953-ee4eb7d33eb9.png">

[2016-05-21 09:06] auscaster commented on #1
Thanks for reporting this. If you fixed this issue a PR would be great, otherwise I'll try to find some time over the next week or so.

[2016-06-10 14:16] jean553 opened #3 "Add compass/entities installation requirement in README.md"
Hello,

It seems that "compass" must be installed using gem. If compass is not installed, I get this error message when generating my HTML :

Task error: { [Error: not found: compass] code: 'ENOENT' }

I also get an error message for the npm module "entities" :

Task error: { [Error: Cannot find module 'entities'] code: 'MODULE_NOT_FOUND' }

:-)

[2016-06-10 15:43] jean553 opened #4 "Incorrect data types for object properties"
Hello,

When in JSON I have :
"properties": {
 "platform": {
   "type": "string",
   "description": "a description"
},

In the HTML, I get "object" instead of "string" for the attribute "platform". The description and format fields are ignored.

[2016-07-24 17:16] LouwHopley commented on #4
Hi, I'm getting the same. Any idea when this will be resolved? :)

[2016-07-25 17:47] akamuraasai commented on #4
'm not very deep, but during my tests, I got the same errors. Even if you look at the example available at http://cheesestore.github.io/ see that this error also occurs.
As far as I can trace, it occurs whenever you include a Schema in response to an Operation.

The soulução that I found was to make the following change to the file schemaDatatype.js on line 15:

[code]

I know it's not the best so

[2016-09-01 13:46] pdhodgkinson commented on #3
Should be fixed by my pull request #5
Don't think it has anything to do with ruby gems... just a refactor that forgot to remove a reference to a node dependency.

[2016-09-01 15:12] b5 commented on #3
@jean553 is correct, grunt-contrib-compass tries to call out to a ruby gem (compass), and if it's not installed the grunt task complains. It should also be noted that I had to peg the version of grunt-contrib-compass specifically at 1.0.4 (not higher) to even get to this point. @jean553 did you want to submit a PR, or should I?

Thanks for putting this project together @auscaster!

[2016-09-01 16:25] auscaster commented on #3
You're welcome @b5 - a PR would be much welcomed and would no doubt save time for people who aren't familiar or don't work with ruby.

[2016-09-22 14:17] namirsab opened #7 "/tmpl/.spectacle/index.html not found"
I'm having this error when trying to run spectacle
[code]

[2016-09-22 14:18] namirsab commented on #7
okey #5  solves this. Sorry!

[2016-09-22 14:24] #7 closed

[2016-09-22 14:27] namirsab opened #8 "Definitions are not correctly parsed"
This definition:

[code]

is parsed as:
![image](https://cloud.githubusercontent.com/assets/6980777/18752024/60ceddb2-80e1-11e6-8b83-cd562172a293.png)

I've used swagger editor to create the definition and it works properly there

[2016-09-22 15:50] ajbdev opened #9 "Missing dependencies?"
Completely vanilla install, no extras.

[code]

[code]

It appears I'm missing compass and a module called "entities" but I don't see anything in the readme about either (unless I missed it)

[2016-09-26 18:18] arkrozycki commented on #9
node 6.5.0 here, and getting same issue with compass.

Running "compass:foundation_scss" (compass) task
Task error: Error: not found: compass
    at whichSync (/Users/xxx/.nvm/versions/node/v6.5.0/lib/node_modules/spectacle-docs/node_modules/which/which.js:80:9)
    at Object.exports.buildArgsArray

[2016-10-02 20:22] auscaster commented on #9
Please install compass :)

http://compass-style.org/install/

[2016-10-02 20:31] auscaster commented on #9
Next version I will convert to libsass since it removes the ruby dependency. Will leave this ticket open until then.

[2016-10-11 21:21] otistamp commented on #1
Same issue on chromium, latest. It looks like a screen size issue once the viewport width is greater than 1390px and there is a max width on the row

    `#spectacle article .doc-row { max-width: 78.94737rem; }`

I can submit a pull request, but not sure how you would like to solve the issue. Simply taking out the max-width solves it but that's your call.

[2016-10-12 09:03] auscaster commented on #1
Hi Otis, please feel free to submit a PR and I'll see it merged in :) Cheers

[2016-11-20 22:11] #1 closed

[2016-11-20 22:11] #3 closed

[2016-11-20 22:11] #4 closed

[2016-11-20 22:11] #8 closed

[2016-11-20 22:11] #9 closed

[2016-11-23 19:39] bazaglia opened #10 "Couldn't get it working"
When I run `spectacle swagger.json` I get this:

[code]

[2016-11-23 20:16] kalafut commented on #10
As do I.

[2016-11-23 20:30] auscaster commented on #10
Must be a regression in the last version, sorry for the trouble. I'll push
through a fix in the next couple of hours (unless someone beats me to it :))

On 23 November 2016 at 21:16, Jim Kalafut <notifications@github.com> wrote:

[2016-11-24 15:30] aep commented on #10
if you're running into that issue, use:
`spectacle -d $PWD/swagger.json`

[2016-11-24 15:50] aep opened #11 "local install seems broken"
[code]

[2016-11-24 16:26] aep opened #12 "example data is broken since 0.5"
response examples do not work anymore. They're a copy of the definition, not an example

[2016-11-24 16:51] #10 closed

[2016-11-24 16:59] kalafut opened #13 "Empty CSS"
Using the tip in #10 does let things start, but I noticed that the stylesheets, whether statically generated or served via -d, are empty.

[2016-11-24 22:05] auscaster commented on #13
Fixed in latest version. If it works for you please close this one :)

[2016-11-24 22:06] auscaster commented on #12
Thanks @aep, the example  code can now be run again with `spectacle -d -l test/fixtures/cheese.png test/fixtures/cheese.json`

[2016-11-24 22:08] auscaster commented on #11
Fixed in latest version. Please close this if it works for you

[2016-11-24 23:45] kalafut commented on #13
Close :-)  foundation.css is not being minimized, but the *.min.css version is what the generated HTML is trying to include.

[2016-11-24 23:47] #12 closed

[2016-11-25 00:29] auscaster commented on #13
OK, some residual issues left from porting `git-contrib-scss` to `grunt-sass`. Will fix tomorrow if time permits, PR is also welcome

[2016-11-25 01:59] kalafut commented on #13
Hi,

I not terribly familiar with Node and Grunt, but it looks like the cssmin task just needed to run after foundation. The change in this PR seems to work for me. Note: you'd only notice the original issue on the first run, since subsequent builds would minimize foundation.css from the last time.

Thanks,
Jim

[2016-11-25 08:56] #13 closed

[2016-11-25 08:57] auscaster commented on #13
Thanks Jim, that did the trick!!

On 25 November 2016 at 02:59, Jim Kalafut <notifications@github.com> wrote:

[2016-11-25 13:54] #11 closed

[2016-12-02 16:23] fgabolde commented on #1
@auscaster I still have that exact issue on Chromium and Chrome with the latest commit of Spectacle.

[2016-12-02 18:13] auscaster commented on #1
Hi @fgabolde, does the above fix solve your issue?

[2016-12-02 18:49] fgabolde commented on #1
If you mean removing manually `max-width` from the generated CSS, yes it does.

But in the latest version from the repository I still have `max-width` set and the layout is broken.

[2016-12-02 21:55] auscaster commented on #1
OK thanks, I'll push a fix for it tomorrow unless you beat me to it ;)

[2016-12-03 23:13] auscaster commented on #1
Fixed on master

[2016-12-05 09:09] fgabolde commented on #1
Yep, it displays fine now, thanks!

[2016-12-09 09:52] OskarD opened #15 "Sub-menu links do not navigate"
When I click an expanded sub-menu link, I expect to be navigated to that functionality. Nothing happens.

When the page is loaded, this JS error is printed multiple times in my console:
`Uncaught TypeError: Cannot read property 'top' of undefined
    at HTMLAnchorElement.<anonymous> (http://localhost:4400/javascripts/spectacle.min.js:1:2089)
    at HTMLElement.dispatch (http://code.jquery.com/jque

[2016-12-09 09:58] OskarD opened #16 "Development server does not update webpage"
When I launch a development server using `spectacle -d` I expect the webserver to update the webpage when I make changes.

I can see the following messages in my console:
[code]

But the webpage is not updated. I refreshed the page after emptying my web browser's cache, but that did not help.

[2016-12-11 13:41] auscaster commented on #15
Hi Oskar, unfortunately I'm unable to replicate the issue. Sub menu links
work as they should on the demo http://cheesestore.github.io/ and on my
other docs. Can you please send a link or the full HTML of the generated
output that fails?

On 9 December 2016 at 10:52, Oskar Danielsson <notifications@github.com>
wrote:

[2016-12-11 14:43] #16 closed

[2016-12-12 03:31] arkayz opened #17 "Paths are listed in a different order than specified in swagger file"
For some odd reason the navigation menu shows the paths in a different (apparently random) order. Am I missing something or why is this happening?

[2016-12-12 03:35] kalafut commented on #17
I'm just guessing, but since that paths are part of a dictionary they're unsorted (i.e. unrelated to how they appear in the source file). I know that swagger-ui has settings and custom functions for how you want them to be sorted.

[2016-12-12 04:37] arkayz commented on #17
I solved the issue by adding tags to each method. This way they get categorized under Operations and the order is the same as specified in the swagger definition. Without the tags the paths are listed out of order and without Operations.

[2016-12-12 06:36] OskarD commented on #15
It is not hosted anywhere, but I can attach its content here. I hope it will be helpful.

https://gist.github.com/OskarD/a79af122bcef0b18968524c08e5ca71d

[2016-12-12 08:21] auscaster commented on #17
Reza is correct in that Tags should be used to order methods.

On 12 December 2016 at 05:37, Reza Karami <notifications@github.com> wrote:

[2016-12-12 08:46] auscaster commented on #15
Thanks, nice work :) I just updated the package on npm

[2016-12-12 08:46] #15 closed

[2016-12-12 08:58] OskarD commented on #15
Thanks @auscaster !

[2016-12-12 09:22] OskarD commented on #15
@auscaster I made a mistake =(

I misread the SO post, there should only be one double-backslash, not two. I will correct it in another PR

[2016-12-12 09:29] auscaster commented on #15
OK no problem, it was my own fault for not testing it

On 12 December 2016 at 10:22, Oskar Danielsson <notifications@github.com>
wrote:

[2016-12-12 09:33] OskarD opened #22 "Parameter description is not showing"
I have a `swagger.yml` file that contains:
[code]
When I look at the webpage, it says `(no description)`.

Am I doing something wrong?

[2016-12-12 09:39] auscaster commented on #22
YAML looks fine - maybe a bug. I'll look into it when I have a few minutes
spare

On 12 December 2016 at 10:33, Oskar Danielsson <notifications@github.com>
wrote:

[2016-12-13 08:58] OskarD commented on #22
@auscaster will you have time to look at this today? I am distributing my API documentation and am wondering if I should put the parameter descriptions where they should be, or in the endpoint description until it is fixed

[2016-12-13 14:26] auscaster commented on #22
I can take a look at it later tonight (in about 3/4 hours)

On 13 December 2016 at 09:58, Oskar Danielsson <notifications@github.com>
wrote:

[2016-12-13 21:43] #22 closed

[2016-12-13 21:44] auscaster commented on #22
OK, good to go!

[2016-12-20 17:10] CodeLenny opened #25 "Missing helper: "json""
Hi,
I've been getting an error when using an example in a definition.

[code]

I get the following error:
[code]

I tried adding a JSON handler (https://github.com/CodeLenny/spectacle/tree/json-handler), which stopped the above error and compiled my API docs, but included my example on the left.  I expected it to appear on the right, like other examples do, and be syntax highlighted/monospace.

![

[2017-01-06 02:16] imZack commented on #25
bumped into this issue too, any thoughts?

[2017-01-06 11:46] auscaster commented on #25
Thanks for the bug report - seems like it certainly needs a patch. I'll
look at in over the next few days

[2017-01-06 15:07] #25 closed

[2017-01-06 21:19] CodeLenny opened #26 "Code Highlighting Unreadable"
I tried to include a code snippet, but found that the colors chosen for highlighting render strings nearly invisible.

![screenshot from 2017-01-06 16-08-04](https://cloud.githubusercontent.com/assets/9272847/21733267/78e99f84-d42b-11e6-9559-680bec6945e8.png)

And it's even harder to see at a normal resolution:
![screenshot from 2017-01-06 16-07-43](https://cloud.githubusercontent.com/assets/92728

[2017-01-06 21:38] CodeLenny commented on #26
In addition, I just noticed that multi-line snippets aren't highlighted in a continuous block.

![screenshot from 2017-01-06 16-38-25](https://cloud.githubusercontent.com/assets/9272847/21733849/9196687a-d42e-11e6-84dd-f4f41fde8603.png)

[2017-01-08 20:30] auscaster commented on #26
Thanks for the bug report, I'm current not using code blocks in descriptions so haven't come across this issue yet. I'll try to find a solution when time permits, or would welcome a PR in the mean time.

[2017-01-08 21:17] CodeLenny commented on #26
Would you have a more elegant solution than a new CSS rule that selects `code[class^="lang-"], code[class*=" lang-"]` and sets the background to Monokai's background?  I could PR that CSS rule.

[2017-01-08 23:08] auscaster commented on #26
That would be an option, but I would prefer the flexibility of a CLI option so you could specify the highlight theme at compile time, such as `c=monokai` or similar. Also, a couple of CSS tweaks to stop foundation getting in the way might also be necessary. Feel free to have a go, or I'll try to find some time during the week.

[2017-01-08 23:46] CodeLenny commented on #26
Foundation is currently highlighting all `<code>` snippets in the light grey color, instead of using the code block theme.  Would you like to keep that, or change all `<code>` snippets to be using the code highlighter's style?  (my ugly `lang-` selector is only needed to select code snippets that have syntax highlighting, universally highlighting all blocks would be nice and simple)

I'm happy to

[2017-01-09 12:03] auscaster commented on #26
Sounds greeat, would welcome the PR :)

[2017-01-09 12:06] auscaster commented on #26
Just to clarify though, only code blocks inside <pre> tags should be hilighted - inline code blocks should retain simple grey markup

[2017-01-09 14:35] CodeLenny commented on #26
@auscaster Here's what I'm seeing:

1) Inline code ("Hello World, this is a \`test\`.") produce

[code]

2) Code blocks without a language

[code]

Produce

[code]

3) Code blocks with a language

[code]

Produce

[code]

So the CSS selector I proposed only targets multi-line code blocks that have selected a language for highlighting (case 3).  All others will default to the standard Foundation st

[2017-01-09 15:01] CodeLenny commented on #26
Oh, I just read through the Monoki docs, and realized that there's already the following rule:

[code]

Looks like the `hljs` class isn't getting set.  Should the templates be modified to insert `.hljs`, or should the CSS be changed to match the existing code?

[2017-01-09 15:28] auscaster commented on #26
Hi Ryan, my vote would be to add the .hljs class so we can keep the CSS
files standard

On 9 January 2017 at 16:01, Ryan Leonard <notifications@github.com> wrote:

[2017-01-09 17:28] CodeLenny commented on #26
@auscaster I'm less familiar with your JavaScript setup than quickly tweaking the CSS files.  It might be easier for you to do it yourself, but I'm happy to see what I can do if I'm pointed in the right direction.

It looks like HighlightJS isn't inserting the `hljs` class.  Should that be inserted into the output?

I found the following methods in `common.js` which look applicable.  I would like

[2017-01-09 17:31] CodeLenny commented on #26
Actually, after a little digging, I found someone else had added the `hljs` class by changing the Marked options.  Would you like me to implement a similar change?

https://github.com/evancz/elm-markdown/pull/17/commits/ae1d13762d7aaa686dbcf3330938dcac015cbdf9

[2017-01-09 19:00] auscaster commented on #26
If it works as stated I'll be more than happy to accept the PR.

On 9 January 2017 at 18:31, Ryan Leonard <notifications@github.com> wrote:

[2017-01-09 20:08] CodeLenny commented on #26
@auscaster I've made the change and PRed.  I've tested it on my API docs, and it works for me.

[2017-01-10 08:46] #26 closed

[2017-01-11 01:52] imZack opened #29 "Where is v0.6.7 source code?"
Only v0.6.6 here https://github.com/sourcey/spectacle/blob/master/package.json#L3

Someone forget to push? Thanks for your awesome work :+1:

[2017-01-12 23:10] CodeLenny opened #30 "Synchronous CLI calls mix content"
Hi,
I've been starting two Spectacle runs on different files at the same time in a build script, but some of the time (maybe one in four runs) one of the API pages is wrongly embedded in the other.

![spectacle-embedded-obs](https://cloud.githubusercontent.com/assets/9272847/21912075/bd835840-d8f1-11e6-9b6a-1c69442c6d4d.png)

Censored as it's for a closed-source project (my apologies).  Below "Doc

[2017-01-13 11:17] auscaster commented on #30
This may be due to the cache file not been cleared after running spectacle
each time. Note the `clean:html` task that specifically deletes the
previous HTML cache.

On 13 January 2017 at 00:10, Ryan Leonard <notifications@github.com> wrote:

[2017-01-13 14:10] CodeLenny commented on #30
@auscaster Could the cache be changed so multiple files could be compiled at once?  I've used [`tmp`](https://www.npmjs.com/package/tmp) before to automatically create a clean directory, which could be used to keep runs separate from each other.

[2017-01-13 14:14] auscaster commented on #30
Yes it that could work ... would you be interested in making a PR?

On 13 January 2017 at 15:10, Ryan Leonard <notifications@github.com> wrote:

[2017-01-13 15:20] CodeLenny commented on #30
@auscaster Sure, I can give it a go.

For my CLI usage, I could just change `program.cacheDir = os.tmpdir() + '/.spectacle';` in `bin/spectacle.js` to use the `tmp` package.

Alternatively, the grunt file (`index.js`) could be altered to generate unique filenames inside `.spectacle`, or call `tmp` internally instead of being passed a temporary directory.

Is one of these an acceptable approach for

[2017-01-13 18:14] auscaster commented on #30
OK great! Lets just modify program.cacheDir if possible so there's no
regression in other parts of the app that rely on that value.

On 13 January 2017 at 16:20, Ryan Leonard <notifications@github.com> wrote:

[2017-01-13 18:43] CodeLenny commented on #30
@auscaster I've created a PR.  It looks like the latest release wasn't pushed to GitHub, so you may want to do that before merging.

Thanks!

[2017-01-13 18:52] #30 closed

[2017-01-13 18:54] auscaster commented on #29
You're welcome! We're up to 0.6.8 now, and repo is up to date

[2017-01-13 18:54] #29 closed

[2017-01-13 18:55] auscaster commented on #30
Thanks again, npm package updated

[2017-01-13 18:58] CodeLenny commented on #30
You're welcome, thanks for the quick merge!  Looks like something might have broken in the testing, I didn't see the tests.

[2017-01-13 19:07] CodeLenny commented on #30
@auscaster Not just testing, it's failing an assertion.  I'll take a look into it.

[2017-01-16 12:52] beardedlinuxgeek opened #33 "Doesn't handle links to parameter references"
When you have

[code]

then it will link to the User definition at the bottom. But if you have

[code]

then the link is still created but because the parameter definitions are never added, there is nothing to link to. Also the description field doesn't get populated from the referenced parameter.

[2017-01-19 18:38] LGMAM opened #34 "Syntax error"
Just installed from npm:

[code]

[code]

When trying to process one file I am getting this error:

[code]

Any hint ?
Thanks,
Luis

[2017-01-19 18:49] auscaster commented on #34
The answer is to upgrade nodejs to support new object syntax. I'm running
v4.2.6

On 19 January 2017 at 19:38, LGMAM <notifications@github.com> wrote:

[2017-01-19 18:59] LGMAM commented on #34
That did it.
Thanks,
Luis

[2017-01-19 18:59] #34 closed

[2017-01-25 20:33] jimmyjames commented on #33
Seeing this issue as well. Would be nice if the parameter description were inlined into the param description.

[2017-01-26 00:09] auscaster commented on #33
Thanks guys, noted. If anyone has fixed this issue a PR would be very welcome. Its a simple fix, but will be away myself for the next couple of weeks so will be unable to take care of it straight away

[2017-01-26 00:42] jimmyjames commented on #33
I may be able to submit a PR but am just getting up to speed with how spectacle works. Any nudges in the right direction is appreciated ;)

[2017-01-26 00:49] auscaster commented on #33
OK that's great! Everything is based on handlebars so you could start with
the `parameters.hbs` template and check into the helper JS that render
`$ref` links.

On 26 January 2017 at 01:42, Jim Anderson <notifications@github.com> wrote:

[2017-01-26 18:48] jimmyjames commented on #33
I think the issue is that because it's a reference to a parameter type (we have common parameters for many apis), it ends up in the `json-schema/reference` template, which then just gets the url fixed up in `helpers/schemaSubschemaName`. That only accounts for `#/definitions`, which is fine for schema definitions. Parameters aren't rendered (and I think it would be odd to have parameters rendered

[2017-01-27 10:15] auscaster commented on #33
Hi Jim,

Thanks for looking into this! Since I don't use global parameter refs this
way in my swagger files this way I haven't come across the issue yet. So
you're using global parameters as per the example below, and want them to
render as a normal parameter, correct?

[code]

This wont be too hard to do, the `root` data element which contains the
full swagger doc is accessible from handlebars he

[2017-02-10 14:18] jsundquist opened #36 "No License"
I really like what spectacle provides, unfortunately many companies or individuals have to pass by it without a license.  Would you please consider adding a license to your repository?

[2017-02-10 17:57] YamiOdymel opened #37 "Incorrect example with `type` in `schema`"
There's an `id` field in the `body`, and it's an integer type. (Swagger 2.0)

![screen shot 2017-02-11 at 1 50 54 am](https://cloud.githubusercontent.com/assets/7308718/22837714/c0ed87f4-effc-11e6-80c6-f9ff56decd12.png)

Everything's normal in Swagger Editor.
![screen shot 2017-02-11 at 1 51 08 am](https://cloud.githubusercontent.com/assets/7308718/22837715/c117a962-effc-11e6-9bbd-d01784e67a87.png

[2017-02-21 00:12] rayder441 opened #38 "PUT/POST request bodies are rendered as "undefined""
Thanks for this great doc generator!

My Swagger spec has some POST and PUT body definitions like this:
[code]

Here's the generated doc:

![image](https://cloud.githubusercontent.com/assets/1149918/23145908/12a38d50-f787-11e6-81f6-3ec9db1585d5.png)

The request body is shown as "undefined". Is this a bug or a feature, or do I need to modify my Swagger spec?

Thanks.

[2017-02-28 22:12] mikejholly opened #40 "Expand types in example requests/responses."
More of a feature request.

It would be awesome if the example response below expanded the `meta` key and showed all fields.

![spectacle](https://cloud.githubusercontent.com/assets/332408/23436526/c3651d96-fdbf-11e6-8fb6-2c2e9ddbfecb.png)

[2017-03-01 09:52] #36 closed

[2017-03-01 09:59] auscaster commented on #36
Hopefully MIT works for your/your company? :)

[2017-03-01 10:13] auscaster commented on #38
Hello there, sorry the for delay in getting back to you!

The reason undefined is displaying is because you have no 'description' field. This is a bug but you probably should add a description to your spec :)

[2017-03-01 11:26] #38 closed

[2017-03-01 15:01] auscaster commented on #40
Hi Mike, that would be nice feature!

In the mean time I would suggest adding an `example` to the property since that will be rendered. It may be something like:

[code]

[2017-03-01 15:03] #37 closed

[2017-03-01 15:04] auscaster commented on #38
Please try regenerating your docs with the latest package

[2017-03-01 22:30] rayder441 commented on #38
+1!

Thanks.

On Wed, Mar 1, 2017 at 7:04 AM, Kam Low <notifications@github.com> wrote:

--
Spence
+1 650 530 7180
CEO | Lilt <http://lilt.com> | @LiltHQ <http://twitter.com/LiltHQ>

[2017-03-03 23:18] mikejholly commented on #40
@auscaster Cool, thanks. Would you accept a PR for expanded examples?

[2017-03-04 01:01] auscaster commented on #40
Yes a PR would be wonderful :)

On 4 March 2017 at 00:18, Mike Holly <notifications@github.com> wrote:

[2017-03-14 15:32] Modig opened #45 "Generic List transforms to "ungeneric" array"
It seems like there is a problem regarding Java generics in combination with Spectacle.

If I create an annotation like this:

[code]

It will create a generic documentation in Swagger:
[code]

But when I tries the same in Spectacle it transforms to an "ungeneric" object array:

`myClasses: object[]`

[2017-03-14 22:07] christopherraa opened #46 "No support for `schema.$ref` in response block"
When defining the resource block for an endpoint this seems to be parsed without crashing:

[code]

This is also parsed without failing:

[code]

This however fail spectacularly:

[code]

The error is as follows:
[code]
This can be reproduced using the [PetStore Expanded example file](https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/json/petstore-expanded.json) as p

[2017-03-14 23:58] bguiz commented on #46
aha @christopherraa I was getting the same error, but wasn't able to figure out from the error message what part of the schema was problematic, thanks for highlighting this.

I'd also like a fix for this!

[2017-03-15 17:02] #46 closed

[2017-03-15 17:03] auscaster commented on #46
Hi guys, sorry for the trouble ... fixed in v0.7.5

[2017-03-15 17:04] auscaster commented on #45
Can you please give an example of your swagger doc and the output you would like to see?

[2017-03-15 17:11] auscaster commented on #46
Also I've added the extended petstore example to fixtures so it can be easily tested against like so `node bin/spectacle test/fixtures/petstore-expanded.json`

[2017-03-15 17:46] CodeLenny commented on #33
@auscaster I'll probably be able to roll this into #41.

I'm guessing that I'll be using some config in the preprocessor to determine if references should be imported into each usage, or put in the global definitions and referenced from there.  Then it's up to downstream elements to produce documentation for the `parameters` section, like it does for the `definitions` section.

[2017-03-15 18:03] christopherraa commented on #46
@auscaster Brilliant. That was quick. :) Looking forward to trying it out. If you ever find yourself in Bergen, Norway I'll buy you a `$favorite_beverage`. Cheers!

[2017-03-15 22:15] auscaster commented on #46
Might even take you up on that - it will be warm enough to venture that far
north soon! Cheers :)

On 15 March 2017 at 19:03, Christopher Rasch-Olsen Raa <
notifications@github.com> wrote:

[2017-03-16 08:56] Modig commented on #45
Unfortunately I cannot provide you with the links to the documentation but I will try to explain it a little more in detail.

We have two domain classes which we would like to document (see the files attached).

[ExternalAccounts.txt](https://github.com/sourcey/spectacle/files/847084/ExternalAccounts.txt)
[ExternalAccount.txt](https://github.com/sourcey/spectacle/files/847083/ExternalAccount.txt)

[2017-03-30 21:18] christopherraa opened #47 "Missing types in request/response examples"
**This might be a duplicate of issue #40**

I have added an example file (all the way at the bottom of this issue) of a trivial API that has two GETs and two POSTs. This should give a total of 8 examples ( 4 * request and response ), of which one has rendered the expected example data. Among the issues are:

 - Array of entities rendered as `[ null ]`
 - 6 examples missing entirely

This is when p

[2017-04-01 11:53] #17 closed

[2017-04-01 11:53] #40 closed

[2017-04-01 11:53] auscaster commented on #17
Fixed :)

[2017-04-01 11:54] auscaster commented on #47
Thanks for the detailed bug report! This has been fixed in 8.0, please close this if all good on your side.

[2017-04-01 16:50] christopherraa commented on #47
@auscaster Just tried with the yaml I provided in the bugreport and now the generated docs have all request / response  blocks as expected, but the contents of the blocks is incorrect. Please se the attached screenshot:

![2017-04-01-184805_670x403_scrot](https://cloud.githubusercontent.com/assets/924763/24580658/f14a9082-170b-11e7-8eb9-19a201ed1ef0.png)

The issue is that is displays `"undefined"

[2017-04-01 17:22] christopherraa commented on #47
Ok, so while looking casually at the yaml I provided it seems like the places where a type that inherits another type is used you get `"undefined"` as request / response example. Every *NewSprocket* is displayed properly, but the *Sprocket* which inherits *NewSprocket* is not.

[2017-04-02 10:58] auscaster commented on #47
There is a small issue with your swagger file. Note the location of `type: object`, it should be:

[code]

This issue actually helped me fix something else in the example parser, so please update your swagger file, grab 0.8.1 from npm, and you should be in business :)

[2017-04-02 21:32] christopherraa commented on #47
@auscaster That is absolutely brilliant. :) Seems to work perfectly now. Thanks for spotting that issue by the way. Helped me fix a weird error I was seeing in another parser. Guess I owe you another beverage. Cheers!

[2017-04-02 21:32] #47 closed

[2017-04-02 22:29] auscaster commented on #47
You're welcome :)

[2017-04-11 13:29] marcottedan opened #50 "Dockerize"
Hi!

Would it be possible to hook your Github project's build pipeline into Docker Hub? We did it ourselves but it would be great to have a more "official" support from the project.

https://hub.docker.com/r/alexeiaguiar/spectacle/~/dockerfile/

Thank you

[2017-04-11 13:32] marcottedan commented on #50
We did it this way on github: https://github.com/alexeiaguiar/spectacle

[2017-04-11 18:04] auscaster commented on #50
Hi Daniel, I haven't had use for this myself yet but would be very happy to
dockerize the repo. If you want to submit a PR with the Dockerfile I will
merge it in, with or without a Docker section in the README which I can
also do myself.

On 11 April 2017 at 15:32, Daniel Marcotte <notifications@github.com> wrote:

[2017-04-17 17:28] mczachurski opened #51 "Exception when model have tree structure"
I have model like that:

[code]

Thus `ChapterItemDto` has `children` property. This property is an array of `ChapterItemDto` objects. For that construction when I execute spectacle I have following exception:

[code]

Probably there is an infinite loop.

BTW: Thanks for great application!

[2017-04-18 16:45] beau-midigator opened #52 "Codegen timeline"
I noticed the placeholders in the html for the codegen (curl, python, ruby, etc) that would mimic stripe.  Is that a long term goal?

[2017-04-22 12:30] auscaster commented on #52
Yes it would be great to add this feature, although I don't have a timeline for it myself. If you would like to have a go at a PR I'm sure it would be gratefully received by spectacle users!

[2017-04-22 12:44] #50 closed

[2017-04-22 12:53] auscaster commented on #50
I've added your Docker script to Spectacle so we can call it the official implementation for now. Any updated on your end please push them down the wire. Cheers ;)

[2017-05-05 14:11] rajivpatel36 opened #53 "Max number of characters doesn't appear when only max specified"
Looks like there is a typo on [this line](https://github.com/sourcey/spectacle/blob/7a490b7f7e2a07ebec309d66de9446948c59c855/app/views/partials/json-schema/datatype.hbs#L63)

It should say `maxLength` instead of `maxlength`.

Currently the docs produced end up saying something like "(up to chars)" without having the number inserted. I believe this is due to the typo above.

Didn't think this small

[2017-05-10 14:52] Korri opened #54 "Disable file serving"
The documentation specifies that `--development-mode` is `false` by default, but when I run spectacle with no options, it starts a web server and watches my `swagger.yml` file.

Also I did not find any way to disable it.

And thanks for this great package!

[2017-05-15 22:03] ctraganos opened #55 "Icons for priority mapping"

[2017-05-15 22:05] #55 closed

[2017-05-22 14:55] anextro opened #56 "Cannot have more that one json file"
I have tried having more than on configuration file because I have a lot of work to document and it would make sense to separate files for better management.

[2017-05-24 12:13] bommanaraviteja opened #57 "Can't run swagger json with dependent schema file"
Hi Team,

I have swagger JSON file. I'm referring definitions from other schema file. How are we going to handle this in spectacle?

[2017-06-09 10:27] antimatter96 commented on #54
I cant seem to reproduce the issue.
`spectacle "pathTo/swagger.yml"` doesn't seem to start the web server for me

[2017-06-09 15:22] Korri commented on #54
You are right, I was using `-d swagger.yml` as a "document" option, when it actually means `--development-mode`, dumb me!

[2017-06-09 15:22] #54 closed

[2017-06-09 16:02] rjmanzer commented on #33
Did this ever get implemented? Links to parameters looks to still be broken.

[2017-06-10 14:08] klon opened #58 "Refs to responses produces undefined in docs"
When providing the following spec to spectacle, the response description and schema refs are not resolved and put into the docs. Instead it only says "undefined" in the documentation. I expected the Error definition to show in the docs.
[code]

[2017-06-10 14:16] klon opened #59 "Request example includes readonly properties"
Isn't the intention with read-only properties to exclude them when creating/updating entities?

[2017-06-11 13:23] auscaster commented on #59
Yes this will need to be fixed. Thanks for raising the issue.

[2017-06-11 13:25] auscaster commented on #58
Resolving from `responses` is not currently supported.

If you write your responses like so it will work `$ref: "#/definitions/ServerErrorResponse"`.

It would be good to have a PR for this if anyone has the time or need for this feature.

[2017-06-12 10:40] #59 closed

[2017-06-13 12:01] lunemec opened #63 "Docker image is not pushed to docker repository"
When trying to use docker image:

[code]

Just pushing the image should work.

[2017-06-14 12:20] lunemec opened #64 "produces/consumes from paths: is not shown"
Path produces/consumes MIME type's are not displayed anywhere on the rendered page:
Example:
[code]

The `application/json` is not shown in the rendered docs.
Thx!

[2017-06-16 21:00] stephencoe opened #65 "Cannot convert undefined or null to object"
Possible related to https://github.com/sourcey/spectacle/issues/46 as the issue is the same but I still see this error when running build or development mode.

`spectacle -l test/fixtures/cheese.png test/fixtures/petstore-expanded.json`

[code]

[2017-06-22 17:23] WoLpH opened #66 "Auto reload/update browser on changes"
When running in development mode it would be very helpful if the browser would automatically reload as soon as changes are detected.

Similar to how webpack does Hot Module Replacement: https://webpack.js.org/concepts/hot-module-replacement/

[2017-06-22 17:28] WoLpH opened #67 "Make development mode fault-tolerant"
Whenever you make a typo in your `swagger.json` file the development server crashes which is a tad annoying for development. More useful would be a visible representation of the stacktrace on the page so you know where the error is.

Example trace:
[code]

To reproduce:

1. Create a valid `swagger.json` file
2. Start spectacle in develop mode (e.g. `spectacle -d swagger.json`)
3. Modify the `swagg

[2017-06-23 09:25] zdzhamaldinov opened #68 "Not support remoute files"
Application from npm is not supported remote files yet
`Remote references not supported yet. Reference must start with "#" (but was tag.yml#/Tag/)`
but in github exist version, that support it.
When will app update in npm?

[2017-06-27 20:12] antimatter96 opened #69 "Does not show enum data in response"
In Response
It only shows status code and description + returned data
It does not show enums defined there only

Example:

Should show this:
[code]

[code]

[2017-06-28 14:55] WillGunn opened #70 "Examples not included"
We are using Swashbuckle to generate swagger from a .net project, Given the sample swagger.json file, the example block is not rendered onto the webpage, only the generic schema:

The example block starts at line 30
[swagger_example_issue.txt](https://github.com/sourcey/spectacle/files/1109107/swagger_example_issue.txt)

For easy reference:
`"responses": {
                    "200": {

[2017-07-05 15:40] pikzen commented on #70
Can confirm this issue happens over here too, any example is not being output. The task compile-handlebars seems to have issues with them:

[code]

This is the relevant parts of our swagger definition:

[code]

[2017-07-05 16:10] liamdennehy opened #72 "Show defaults for parameters"
When a parameter is not required, the default value is rather important, but is not shown in the rendered specification. Hopefully this is trivial to add, but my JS foo is nonexistent so I can't do this myself.
[code]

[2017-07-07 20:42] gperdomor opened #73 "RAML Support"
any plans to RAML support?

[2017-07-11 18:00] automagic opened #74 "Ordering of operations alphabetically"
The operations are grouped by tag in our swagger.json, but when displayed in spectacle, the operations appear in no particular order; how would we affect the order, for example alphabetically?

[2017-07-12 15:01] automagic commented on #74
It looks like the nav.hbs is using #eachSorted helper for sorting tags, but eachSorted is expecting an object with keys, instead of a list of objects (in swagger spec, top level tags key is a list of tag {} objects).   Changing it to #each allows for the swagger to provide the ordering... I will put together a PR.

[2017-07-13 06:13] aljp opened #76 "Code blocks in operation descriptions are not rendered well by Markdown"
When you include code blocks in the description of an operation it is not rendering the code block well.
![screenshot 2017-07-13 16 09 30](https://user-images.githubusercontent.com/1378224/28152864-f9c1b134-67e5-11e7-8c2d-b1b669f00346.png)
There is an example where I have modified the code block by wrapping it in `<div class="hljs">`
![screenshot 2017-07-13 16 09 56](https://user-images.githubuser

[2017-07-19 01:10] andrewdonkin opened #77 "Objects and arrays"
Hey, all.

I am trying to document an object containing an array as well as some other fields.  Boiling it down to the bare minimum:

[code]

I tried two ways:

[code]

The former renders the example perfectly (as pasted in above), but the properties come out as:
[code]
...which isn't as useful as it could be.

`good_properties_bad_example` renders the properties as:
[code]
...which is great, espe

[2017-07-20 17:21] grekko commented on #70
Is anybody working on that issue?

[2017-07-26 08:22] beatrizgv opened #78 "Customization"
Hi,

I would like to know how can I change the initial look&feel of the template after load the swagger file.

When I modify some parts of the HTML to adjust it to my own information architecture, I see them, but if, after that, I run my swagger file, I lost this HTML configuration and I only can see the typical structure of swagger.

Some ideas?
Thanks!
Beatriz.

[2017-07-26 16:36] mousavian opened #79 "Build silently without serving"
I couldn't find any option to build documentation silently without starting the HTTP server; since I need to use spectacle as a part of CI to dynamically generate API doc (and then upload to a storage service).

If this feature does not exists, I'll be happy to raise a PR for it.

[2017-07-27 12:01] theshaunwalker commented on #79
I just run `spectacle spec.json` and that just compiles the files without starting the server. It only starts the server with the `-s` option no?

I may be missing some implicit behaviour as I just then access the files on my system, I've never tried using whatever built-in server spectacle has.

[2017-07-27 13:38] auscaster commented on #79
Hi there, just run without -d or -s and you're good to go.

On 27 July 2017 at 14:01, theshaunwalker <notifications@github.com> wrote:

[2017-07-28 03:31] mousavian commented on #79
Nice, thank you @theshaunwalker @auscaster

[2017-07-28 03:31] #79 closed

[2017-08-01 09:24] auscaster commented on #68
0.9.2 is now on npm, sorry for the delay!

[2017-08-01 09:24] #68 closed

[2017-08-01 10:13] alessandroorru commented on #65
I had a similar issue, due to how inheritance is defined.

Basically I had this:
`allOf:
    - $ref: '#/definitions/BaseObject'
    - properties:
          something: ...
`

And I had to change it like this:

`allOf:
    - $ref: '#/definitions/PortfolioOperationItem'
    - type: object
      properties:
          something: ...
`

[2017-08-01 11:00] #76 closed

[2017-08-01 11:00] auscaster commented on #76
This one is fixed :)

[2017-08-01 11:02] auscaster commented on #70
Hi guys

The current system just supports a single example, not an array of examples by content type.
I would be open to a PR to support this, but some kind of language switch would need to be included

[2017-08-01 11:05] auscaster commented on #78
Hi there, the way to do this is to copy the `app` folder and customise the templates yourself, then generate spectacle by passing your custom app folder location like so `spectacle -a /path/to/your/app/dir ....`

[2017-08-01 11:05] #78 closed

[2017-08-01 11:08] auscaster commented on #77
Hi there, the answer is to add an `example` member to the `dummy` object. See `test/fixtures/cheese.yml` for a bunch of examples on how to do this. Then `good_properties_bad_example` will render as expected :)

[2017-08-01 11:08] #77 closed

[2017-08-01 11:09] auscaster commented on #73
No current plans, but you may be able to use this to get your docs in swagger format: https://www.npmjs.com/package/raml-to-swagger

[2017-08-01 11:09] #73 closed

[2017-08-01 11:10] auscaster commented on #74
Hello, a PR to fix this was merged today

[2017-08-01 11:10] #74 closed

[2017-08-01 12:19] auscaster commented on #65
I'm currently working on a fix for this guys, please hold tight.

On 1 August 2017 at 12:13, Alessandro Orrù <notifications@github.com> wrote:

[2017-08-01 12:49] #65 closed

[2017-08-01 12:50] auscaster commented on #65
Fix is on npm :)

[2017-08-01 13:12] #64 closed

[2017-08-01 13:13] auscaster commented on #64
Fixed on the latest npm package :)

[2017-08-01 13:15] auscaster commented on #57
This now works out of the box with spectacle!

You can refer an external document using refs like so: `$ref: 'tag.yml#/Tag/'`

[2017-08-01 13:15] #57 closed

[2017-08-01 13:16] auscaster commented on #56
Multiple failed and remote schema references now work out of the box with spectacle!

You can refer an external document using refs like so: `$ref: 'tag.yml#/Tag/'`

[2017-08-01 13:16] #56 closed

[2017-08-01 13:16] auscaster commented on #51
This has been fixed on master. Please reopen if the issue persists :)

[2017-08-01 13:16] #51 closed

[2017-08-01 18:08] mattosaur commented on #51
I'm still seeing this error, although the line number has changed.

[code]

[2017-08-02 11:59] MarkGreenVS opened #80 "Printing to PDF"
Printing to PDF from a browser results in the left column overwriting the middle column. This occurs with all of the browsers I have tried on OSX. What is the intended result?

The middle column and the right column are interleaved appropriately and the examples from the right column switch to a white background that is appropriate for printing.

It would be nice if the left column appeared at the

[2017-08-02 13:55] auscaster commented on #51
Hmmm I tested this today with a circular model reference as above and there were no errors :/

[2017-08-02 13:56] auscaster commented on #51
If you would live me to look further please send your schema to auscaster@gmail.com and I will check it out.

[2017-08-02 14:00] auscaster commented on #80
Great idea - it would be nice to support elegant print to pdf output. My time is currently limited, it would be awesome if someone would be interested in submitting a PR!

[2017-08-02 15:05] MarkGreenVS commented on #80
BTW there is a workaround to get decent PDF output from only the middle and right columns. The location of the overwrite of the left column depends on where you have scrolled to in the window when you start printing. So scroll down a bit just print page 1. Then scroll back to the top and print pages 2 to n. Combining these produces nice output without the overlap of the column left column.

[2017-08-03 00:00] andrewdonkin commented on #77
G'day, thanks for getting back.  I wasn't clear enough in the original post I guess, because my problem is  that even with an example, an object containing an array of references such as `good_properties_bad_example`  renders an example like this with no array notation:

[code]
It should look like the one from `bad_properties_good_example`, with array notation:
[code]

You have been busy so to get

[2017-08-04 19:26] hbschr opened #82 "broken sass imports in v0.9.5"
some of the import paths in `spectacle-docs/app/stylesheets/` are broken.
v0.9.4 did work.

[code]

changing to `@import 'utils'` leads to

[code]

[2017-08-05 00:06] auscaster commented on #82
Hi there, hopefully this is fixed in 0.9.6

[2017-08-08 20:08] dneilroth opened #84 "unable to install via npm"
when trying to install with `npm install -g spectacle-docs` with node v6.10.3 on Mac OS  Sierra and I am getting the following error:
[code]

[2017-08-08 20:17] pdsullivan commented on #84
I am getting the same error when running `npm install -g spectacle-docs`

node: `v6.9.1`

npm: `5.3.0`

[2017-08-08 20:38] auscaster commented on #84
Looks like an issue with http-sync.

Maybe try downgrading your node version until a fix is available.

On 8 August 2017 at 22:17, Patrick Sullivan <notifications@github.com>
wrote:

[2017-08-08 20:51] auscaster commented on #84
I have just updated the npm version 0.9.7 which removes the http-sync dependency. Hopefully that clears the way

[2017-08-08 20:56] dneilroth commented on #84
that did it! thanks so much for the quick reply @auscaster

[2017-08-08 20:56] #84 closed

[2017-08-09 09:39] filipsch opened #85 "Support for OpenAPI 3.0"
The OpenAPI/Swagger project has come up with a new version, which spectacle doesn't seem to support yet. Are there any plans for this? Thanks!

[2017-08-09 10:15] auscaster commented on #85
Hi Filip, I don't currently have any plans for the upgrade, but if someone
is interested in starting a PR that would be brilliant.

On 9 August 2017 at 11:39, Filip Schouwenaars <notifications@github.com>
wrote:

[2017-08-09 12:50] adamlc commented on #33
This is still broken for me too 😢

[2017-08-10 09:26] auscaster commented on #33
This has not been implemented yet, sorry. I'm flat chat with other work
right now but would be very open to a PR!

On 9 August 2017 at 14:50, Adam Curtis <notifications@github.com> wrote:

[2017-08-14 11:35] dongreenmedl opened #86 "CSS Renders Page sections with large indents"
I was comparing the documentation that is generated from the recent version (0.9.7) and noticed that the body of each section contains large indents that the example documentation does not have. After inspecting the elements in web debugger, I noticed that the css classes differed dramatically between the example and the recently generated docs. I possibly traced it down to a class `.expanded` tha

[2017-08-14 14:03] guldner commented on #77
Hi
Having the same problem.
It can be "solved" it by omitting 'items:' as in "good_properties_bad_example" and adding an example to the type definitions, but I'd prefer to keep the "items": { "$ref: ..."
\- is it even valid json-schema without?

[2017-08-14 14:31] guldner commented on #77
Actually Cheese.yml _does_ contain an array of objects where this issue can be seen:
[code]
As can be seen in http://cheesestore.github.io/ the Cheese object does not show a link to the Tag object for the `tags` array property.

[2017-08-14 16:43] auscaster commented on #77
Thanks for pointing that out. I'm currently on a hiking trip though and
cant fix it for a couple of weeks. In the mean time a PR wouldn't be
frowned upon if anyone is able :)

On 14 August 2017 at 16:31, guldner <notifications@github.com> wrote:

[2017-08-14 16:45] auscaster commented on #86
I haven't seen this before! I'm currently away though so can't make a fix.
If you or someone else can push a fix as a PR I would be happy to merge it
in

On 14 August 2017 at 13:35, dongreenmedl <notifications@github.com> wrote:

[2017-08-15 07:10] adamlc commented on #86
I'm having this issue too! You can see an example on our [API docs](http://api-v2-docs.jumplead.com/) if it helps!

[2017-08-18 01:29] andrewdonkin commented on #77
@guldner,

When you say solved, do you mean a link in the properties and array notation in the example?  By what magic did you achieve this, pray tell, because I tried json and yaml, bristling with examples, but no cigar.

Thanks.

[2017-08-18 11:58] guldner commented on #77
@andrewdonkin
Like this. [array_issue.txt](https://github.com/sourcey/spectacle/files/1234301/array_issue.txt)
But again, it's not a real solution. I want `"items:"` in my json-schema :-)

[2017-09-01 14:17] #86 closed

[2017-09-01 14:18] auscaster commented on #86
Hi guys, this one is fixed on 0.9.8

[2017-09-05 10:38] synthecypher opened #88 "What version of Node do you support?"
Could you add a [`engines`](https://docs.npmjs.com/files/package.json#engines) attribute to your `package.json` so we have a rough idea of what version of node this package supports?

Such as the one the tests on Circle CI run against.

[2017-09-08 00:33] mdwheele commented on #85
If this were to be done, would the preference be to support multiple versions? Or would preference be to introduce as a breaking change targeted at the next major version of spectacle? I would be willing to spend some time on this, I think.

[2017-09-08 08:06] auscaster commented on #85
Hi Dustin

That's awesome news! I'll be glad to help out wherever I can.

I don't think it will be too much of a stretch to support both versions, and it would be a shame to freeze out 2.0 users from new features if we forked at this point.

There is a good visual guide here: https://blog.readme.io/an-example-filled-guide-to-swagger-3-2/

I think the main bulk of the changes would be on the views

[2017-09-08 21:56] mdwheele commented on #85
Awesome, I started heading in that direction last night. Should have something together sooner or later for review. I'm doing my best to maintain parity in output, so we'll see. Do you have a recommendation for which one of the text fixtures are "most comprehensive"? I've been using `tommy.json` and used https://openapi-converter.herokuapp.com to create a new OpenAPI 3.0 version, `tommy3.json`.

[2017-09-11 11:12] heuki opened #91 "Responses that are defined outside operations are shown as undefined"
It seems to me that spectacle does not support responses when they are not defined inside the paths section but defined in the responses object below the swagger object. In de generated documentation the response is shown as "undefined"

I attached a small example below.
[responses.yaml.txt](https://github.com/sourcey/spectacle/files/1292306/responses.yaml.txt)

[2017-09-18 05:07] andrewdonkin commented on #77
So there is one fix, maybe.  It seems to work:  I diffed two reasonably-sized documents and didn't spot any regression.  I haven't worked with Handlebars before, or even Node, so I won't be crushed if auscaster only uses this as, uh, inspiration.

[2017-09-18 05:50] #53 closed

[2017-09-18 05:51] auscaster commented on #53
Thanks for the PR, the issue has been resolved

[2017-09-18 06:05] auscaster commented on #85
Sorry for the delay in responding!

`cheesestore.json` may be a better test case since it uses more swagger methods than `tommy.json`, but either should be fine. There are also some good examples here including the updated petstore example and uber's spec: https://github.com/OAI/OpenAPI-Specification/tree/master/examples/v3.0

Your last comment has me a little lost though, perhaps you could expand

[2017-09-21 14:56] dougdomeny opened #93 "When will the next version be published?"
I would like the comment _Display ranges as "min ≤ x ≤ max"_.

[2017-09-24 19:10] svisser commented on #72
@liamdennehy what version of the project are you running?

If I use the spectacle codebase from Github and write your example to `temp.yaml` and run:

[code]

I get:

![screen shot 2017-09-24 at 20 08 04](https://user-images.githubusercontent.com/723226/30785782-1acc5570-a164-11e7-9904-6292973a34ff.png)

[2017-09-27 13:03] liamdennehy commented on #72
Considering this is an old issue I wouldn't be surprised if this was silently resolved in the meantime. I can't update my local to the latest commit so unable to verify, but if you think this is resolved we can close this issue.

[2017-09-27 13:03] #72 closed

[2017-09-27 15:54] auscaster commented on #88
Spectacle should run on all node versions - did you have difficulty with a specific version?

[2017-09-27 15:54] #82 closed

[2017-09-27 15:56] auscaster commented on #93
0.9.9 just published to npm!

[2017-09-27 15:56] #93 closed

[2017-09-27 16:02] auscaster commented on #63
Just pushed, sorry for the wait!

[2017-09-27 16:02] #63 closed

[2017-10-05 10:24] auscaster commented on #85
Hi Dustin, just checking in to see if any progress was made on v3 support?

[2017-10-09 11:24] stianlagstad opened #95 "Is there a way to disable the scrolling effect?"
If I start here: http://cheesestore.github.io/ and click the "Customer" link, the site will actually scroll down (through the Cheese and Store operations) and down to Customer. Is there a way to disable that scrolling effect? I'd like to jump straight down to Customer.

[2017-10-13 12:57] glb opened #96 "replaceRefs fails when attributes have null values"
I have a spec that may or may not be correct; it looks (in part) like this:
[code]
When `spectacle` encounters the `default` key in this object, it dies, saying:
[code]
There is a check in `replaceRefs` that says:
[code]
but unfortunately `typeof(null) === "object"```, so the key isn't skipped and spectacle crashes.

The fix is to add a null check as well; PR is on its way.

[2017-10-13 13:04] #96 closed

[2017-10-17 06:50] lea-anthony opened #98 "objects within definitions are not shown properly in the docs"
Problem:
When a definition has a property that is an object, this property is shown as "object" with none of its own properties outputted to the doc.

Example doc fragment:
[code]
Renders to:
challenges: object

Expected behaviour:

Sub-properties to be documented also.

[2017-10-26 14:56] MSchmidt commented on #70
I don't even get a single example to render. How does this work @auscaster?

[2017-11-06 08:23] HerrDerb opened #101 "Nested json payload causes loop"
If a json payload can contain a sub objects of its own type, it looks like a recursive loops is created when trying to render the json for html view
Model of the json object

[code]

Generates the following object within the spectacle documentation
[code]

[2017-11-07 11:44] jamesrwhite opened #102 "Tag github/docker releases"
Hey,

Thanks for making this, the outputted docs look really nice. It would be great if you could start tagging github and docker releases with the same version as in `package.json` 🙏

[2017-11-10 22:54] bchoang opened #103 "0 and empty default values of parameters not displaying"
**Problem:**
When a parameter has '0' or an empty string ("") as its default value, the value is not rendered.

For example, a parameter such as these:
[code]

Won't display any information about default values.

**Expected:**
It should still display 'default: 0' or 'default: "" ' in the generated HTML file.

[2017-11-23 10:12] svisser commented on #103
This also happens for `default: false`.

[2017-11-24 18:59] cdimascio opened #104 "Enhancement request: Try now"
It would be fantastic if spectacle could also support "Try Now" functionality similar to Swagger UI.

[2017-11-25 09:25] auscaster commented on #104
Thanks for the request - yes it would be a really awesome addition! If
anyone is keen to have a go let me know

On 24 November 2017 at 19:59, Carmine DiMascio <notifications@github.com>
wrote:

[2017-11-30 01:34] dougdomeny opened #105 "Unhandled rejection Error: Task "sass:foundation_scss" not found."
This error appears running spectacle 0.9.12 on a Mac. Any idea how to solve it? Runs fine on Windows.

Unhandled rejection Error: Task "sass:foundation_scss" not found.

[2017-11-30 11:55] yyamano opened #106 "npm test failed"
npm test failed with the latest spectacle b26073bc78ad9dff6ab458aa5c39c70e82081f1e

[code]

[2017-11-30 14:47] yyamano commented on #103
@bchoang @svisser Could you try https://github.com/yyamano/spectacle/commit/3f2b595dacb879274935741f7cbf697bd07572ed ? I think the change fixes the issue.

[2017-11-30 17:21] #106 closed

[2017-11-30 17:22] auscaster commented on #103
Hi guys, I just merged Yuji's PR into master. Let me know if it works and
we can close this one off.

On 30 November 2017 at 15:47, Yuji Yamano <notifications@github.com> wrote:

[2017-11-30 19:10] dougdomeny commented on #105
Deleting the node_modules folder and re-running npm install seems to have addressed the problem.

[2017-11-30 19:10] #105 closed

[2017-12-04 14:41] yyamano commented on #103
@auscaster Sorry for making you confused. It's not merged yet.
I just sent a pull request.  https://github.com/sourcey/spectacle/pull/109

[2017-12-04 14:52] yyamano commented on #98
@lea-anthony It works fine to me. Could you send a full doc that reproduces the issue to me?

[2017-12-04 15:07] #103 closed

[2017-12-04 15:09] auscaster commented on #103
Thanks, merged and updated the package `0.9.13`

[2017-12-04 15:47] svisser commented on #103
Thanks for this!

[2017-12-18 19:43] vinodkumarmarupu opened #113 "How to run this app on local machine and github pages aswell"
E:\APIDoc\spectacle-master\spectacle-master>spectacle spectacle -s
module.js:471
    throw err;
    ^

Error: Cannot find module 'E:\APIDoc\spectacle-master\spectacle-master\spectacle
'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at loadData (C:\User

[2017-12-19 16:04] echofoxxx opened #114 "Grunt cannot find task `sass:foundation_scss` in v0.9.13"
I'm trying to generate documentation for a Swagger JSON generated using [swagger-php](https://github.com/zircote/swagger-php), and am using the following command (it's a local npm install since I have to include it in version control, but the same thing happens when I install spectacle globally):

[code]

Schema:

[code]

It gives me the following output:

[code]

I'm guessing there's something wr

[2017-12-20 01:22] yyamano commented on #113
@vinodkumarmarupu You need to pass a spec file name as an argument. Could you try:

[code]

[2017-12-20 01:28] yyamano commented on #114
@echofoxxx It looks the same problem as #105 . Could you try to remove node_modules and rerun npm install?

[2017-12-20 08:43] yyamano commented on #70
@MSchmidt A single "example" inside "definitions" is supported, but "examples" inside "responses" is not.

@auscaster Could you explain a bit about the language switch? Does it mean something like tab to switch content type to show?

[2017-12-21 17:06] vinodkumarmarupu commented on #113
Thank you worked for me. How to run on Github?

[2017-12-22 15:56] WillGunn commented on #101
We've hit this before, you can't have recursive objects like that.

[2017-12-23 04:36] yyamano commented on #113
@vinodkumarmarupu I don't think you can run the spectacle server on github. Instead you can upload files in public directory to github.

[2017-12-26 14:44] vinodkumarmarupu commented on #113
If we upload the public directory to GitHub what it will do?

[2017-12-26 17:47] auscaster commented on #113
Hi Vinod, please look into Github pages https://pages.github.com/

You can use github to host the static HTML documentation, but you need to
generate the documentation locally.

On 26 December 2017 at 15:44, Vinod Kumar Marupu <notifications@github.com>
wrote:

[2017-12-26 18:22] vinodkumarmarupu commented on #113
Thank you Kam, I will work on that.

[2018-01-03 14:53] jojomi commented on #85
any progres here?

[2018-01-03 15:18] MikeRalphson commented on #85
[widdershins](https://github.com/mermade/widdershins) supports OpenAPI 3.0 (as well as swagger 2.0, AsyncAPI and Semoasa) and outputs to Slate compatible markdown (there is a Node.js port of Slate too, [shins](https://github.com/mermade/shins). (Disclaimer/author.)

[2018-01-05 17:15] Depado commented on #91
I'm currently facing the same issue :(

[2018-01-13 00:45] #69 closed

[2018-01-19 16:33] Enchufadoo commented on #95
This is the first thing I noticed, why have such a long page instead of multiple views, or at least not scrolling.

[2018-01-22 22:15] enolan opened #119 "Descriptions are ignored for enum schemas"
If a schema is an enum, the description isn't printed. E.g. this example:
[code]

The "ice cream flavor" description doesn't show up anywhere. If I delete the `enum` key from the `flavor` object it reappears.
![spectaclebug](https://user-images.githubusercontent.com/61517/35247262-9cd1488c-ff7e-11e7-88fa-a23844dabc90.png)

[2018-01-30 13:23] yyamano commented on #98
@puranjay6 The latest version of spectacle with https://github.com/yyamano/spectacle/blob/issue-98/test/fixtures/issue-98.yml works for me. I might misunderstand the issue. Could you upload your  OpenAPI spec file?

[2018-01-30 17:17] puranjay6 commented on #98
@yyamano i am attaching my swagger.json file.
[swagger.json.zip](https://github.com/sourcey/spectacle/files/1678647/swagger.json.zip)

For eg, I have defined a schema like this
	swagger_schema :StageValue do
		property :stage do
			key :description, 'Give a description of all the parameters'
			property :id do
				key :type, :integer
				key :format, :int64
			end
			property :stage_type do
				ke

[2018-01-31 18:41] puranjay6 commented on #98
hey @yyamano is it not like this for you ?
@lea-anthony were you able to get it working ?

[2018-02-01 04:42] yyamano commented on #98
@puranjay6 Thank you, I understood the issue.

spectacle currently doesn't support it. With my modification at https://github.com/yyamano/spectacle/commit/17573051d6be02f2a05b2792a8f7ae349dfc7979 , the nested properties get displayed as below. The change is just a POC. We need to improve display format.

![sc](https://user-images.githubusercontent.com/108492/35661460-aaf582fa-0755-11e8-87d8-ac645c

[2018-02-01 04:49] puranjay6 commented on #98
@yyamano how can i get your change ?

[2018-02-01 05:07] yyamano commented on #98
@puranjay6 You have to patch the source code on your dev box by hand.

[2018-02-01 05:08] puranjay6 commented on #98
@yyamano So i fork the repo and make the change you made on my side and then use that to build ?

[2018-02-01 06:02] yyamano commented on #98
@puranjay6 Yap.

[2018-02-02 10:32] #101 closed

[2018-02-06 20:46] iszlai commented on #104
Yep would be awesome 👍

[2018-02-10 02:00] chook opened #120 "How to generate a query request sample"
I'm trying to understand what's the best way to get the query parameters as a request example.
From the looks of it, it seems only **body** is supported, and not query.

Also - is there a way to force a CURL sample for requests?

[2018-02-17 06:23] cheesiangcs opened #121 "How to use $ref in another JSON file in different folder"
Basically, I have a "_Parent.json_" which include a definition "_Relationship_" that **$ref** to "_def/Relationship.json_".

Then I have a "_Person.json_" file (same folder under /Def) which include a $ref to "Relationship.json" file as well.

The reason I'm splitting definition from the main json file is because I have multiple large definition schema and I do not want to put everything into a si

[2018-02-19 20:54] gcoombe commented on #114
I've encountered this same error. I removed my node_modules re-installed and still get the task not found errors.

[2018-02-28 14:44] michaelherger commented on #114
I'm experiencing the same issue when installing as suggested running `npm install -g spectacle-docs`. Works when run from a repository clone.

[2018-03-02 00:00] anfedorov opened #122 "Dependency upgrade breaks Spectacle"
Not sure whether it's to do with my specific file, but this used to work before a recent dependency upgrade:

[code]

[2018-03-07 17:55] elifarley opened #123 "Unable to run with Docker: request-sync is deprecated, use sync-request"
Hi,
I wasn't able to run Spectacle from within Docker. Did I miss something?

Here's what I did:

[code]

[2018-03-13 15:10] dsdenes commented on #114
I had this error when spectacle was installed ***both globally and locally***.

In my case, specifying to run the local binary, solved the problem:

`./node_modules/.bin/spectacle`

[2018-03-13 19:35] spencer-rig opened #124 "if a path's summary contains a period, it's used for the link and title"
spectacle version 0.9.13, swagger spec version 2.0 (generated by [goswagger](https://goswagger.io/) 0.13.0)

I noticed something strange when I ran spectacle against my swagger json. In the left sidebar some of my endpoints were listed by their method and endpoint, and some were listed by their summary. I did an audit and realized the pattern: those with a period "." in their summary were the ones

[2018-03-20 09:40] auscaster commented on #122
Can you please send me a copy of the breaking spec file to auscaster@gmail.com?

[2018-03-20 09:45] auscaster commented on #121
The issue here is that remote references are prefixed with the file location and extension. I'm not sure how to get around that other than to change that behaviour completely, which might be a possibility if enough people require it.

If you really want to see that behaviour changed I would also accept a PR with the update.

[2018-03-20 09:46] auscaster commented on #102
Hello, the latest releases on npm and docker are now semantically versioned :)

[2018-03-20 09:46] #102 closed

[2018-03-20 10:09] auscaster commented on #114
Hey guys, sorry you're having issues!

I've just made a bunch of updates to spectacle, and have pushed the release up to stable 1.0.0. I also tested installing spectacle globally and locally and was able to build my project successfully in each case, so hopefully this bug can be closed.

[2018-03-20 10:11] auscaster commented on #114
The minimum node version now supported is 8, which is required by `grunt-sass`.

[2018-03-20 10:12] auscaster commented on #88
Minimum node version supported is 8, which is required by `grunt-sass`

[2018-03-20 10:12] #88 closed

[2018-03-20 10:13] auscaster commented on #123
Hello, docker images have been updated and now use semantic versioning.

[2018-03-20 10:13] #123 closed

[2018-03-20 10:18] auscaster commented on #98
Can we close this one off now that @yyamano 's branch has been merged upstream?

[2018-03-20 10:22] auscaster commented on #95
There is no built in option for this unless you use a custom layout, but you can get the job done easily by removing this line:

[code]

from `app/views/partials/layout/head.hbs`

[2018-03-20 10:22] #95 closed

[2018-03-20 10:23] #113 closed

[2018-03-20 10:27] auscaster commented on #70
@yyamano some sort of tabbed interface would be the idea, probably with the languages situated at the top of the right hand column, and on selection all the examples would change to the selected language.

Just like stripe: https://stripe.com/docs/api

[2018-03-20 10:34] auscaster commented on #45
No update here yet, but I'm open to somebody picking up this feature if they have the time.

[2018-03-20 10:37] auscaster commented on #120
Request query parameters are indeed supported.

Currently there is no CURL sample for requests, but I would be open to a PR for this. I'll close this off for now since this functionality is a duplicate of #70

[2018-03-20 10:37] #120 closed

[2018-03-21 03:32] mcveat opened #126 "Description in security definition fails to render"
Following security definition:
[code]

fails to render with exception:
[code]

There seems to be an issue with reference to `this` on line 29:

https://github.com/sourcey/spectacle/blob/c7a4f8b85f77d745fab2fea4c6faf52fc03dcbb1/app/views/partials/swagger/securityDefinitions.hbs#L27-L33

 because replacing that block with:
[code]

renders it correctly.

Unfortunately I don't know handlebars that wel

[2018-03-21 08:12] #122 closed

[2018-03-21 08:13] auscaster commented on #122
I was able to reproduce the error and this one is fixed in 1.0.1 :)

[2018-03-21 08:13] auscaster commented on #126
I was able to reproduce the error and this one is fixed in 1.0.1 :)

[2018-03-21 08:14] #126 closed

[2018-03-21 21:21] anfedorov commented on #122
Thanks. Sorry I missed your earlier request.

[2018-03-22 20:58] bburtin opened #129 "Boolean examples look like strings"
Thanks for maintaining this project.  I just generated docs for the first time, and they look really good.

I found a minor nit with boolean fields.  When a boolean field doesn't have `"example"` set, the sample JSON looks like this:

`"isActive": "boolean"`

which implies that the value is supposed to be a string.  I think it would be more intuitive if the default was `false`.

[2018-03-22 21:42] kminehart commented on #114
I was just unsuccessful and got this same error.

[code]

[code]

[2018-03-22 21:59] auscaster commented on #114
Thanks for the update, let's squash this once and for all!

The actual cause of the error is because of a missing folder, which causes the task to show as not found:
[code]
Looks like its directly related to this issue node-sass: https://github.com/sass/node-sass/issues/1579

Suggested fixes for anyone hitting this snag:

1. Make sure your `node-sass` version is greater than  3.7.0.
2. Delete `nod

[2018-03-23 01:24] andrewcretin opened #130 "Using Spectacle in AWS Lambda"
I've been trying to get Spectacle running on AWS Lambda and having no luck.

Is there a binary for spectacle?
What would be the easiest way to run the cli command in a lambda container? (Ubuntu running 6.10)

I've played around with `pkg` to try and create an executable and then running it using `child_process` in the lambda function.

I also tried including the `app/` folder and the `spectacle-do

[2018-03-23 09:38] auscaster commented on #130
I haven't played with Lambda much, and I'm not quite sure what errors you're having, but some ideas come to mind:

* Running spectacle from Docker image: https://hub.docker.com/r/sourcey/spectacle/tags/
* Installing from npm using the `-g` flag which exposes the system wide `spectacle` cli command

[2018-03-23 09:41] #33 closed

[2018-03-23 09:41] #58 closed

[2018-03-23 09:43] auscaster commented on #33
Fixed via PR, thanks so much :)

[2018-03-23 09:43] auscaster commented on #58
Fixed via PR, thanks so much :)

[2018-03-23 14:13] schursin commented on #91
@auscaster, please, close this. Fixed in #131.

[2018-03-23 14:33] auscaster commented on #91
With pleasure :)

[2018-03-23 14:33] #91 closed

[2018-03-23 14:34] #67 closed

[2018-03-23 16:41] #66 closed

[2018-03-24 00:04] schursin commented on #119
I’ll fix that soon

[2018-03-24 00:04] schursin commented on #80
I’ll fix that soon

[2018-03-24 00:29] schursin commented on #45
any .yml or .json example?

[2018-04-02 18:34] justinhilles opened #136 "cheesestore swagger json?"
Is there a sample of the swagger file used to create your cheesestore examples anywhere?

[2018-04-02 18:36] Meandmybadself commented on #136
Only YAML in the repo.
You can translate it at: https://www.json2yaml.com/convert-yaml-to-json
https://github.com/sourcey/spectacle/blob/master/test/fixtures/cheese.yml

[2018-04-05 03:49] yyamano commented on #129
@bburtin How about other types as below? Do you think they should have default values?

[code]

[2018-04-05 04:04] yyamano commented on #124
@spencer-rig I can't reproduce it. Could you upload the swagger file?

[2018-04-05 17:39] spencer-rig commented on #124
Maybe it's more complex than just the period at the end of the summary. Here's a swagger json that shows the behavior for me (spectacle v 0.9.13)
[swagger.txt](https://github.com/sourcey/spectacle/files/1881107/swagger.txt)

[2018-04-05 17:44] spencer-rig commented on #124
Scrubbing out the parameters and responses also ends with the same behavior:
[swagger2.txt](https://github.com/sourcey/spectacle/files/1881118/swagger2.txt)

[2018-04-06 05:39] yyamano commented on #124
@spencer-rig Thank you, I got it.

The difference comes from "summary" field. Could you try to change "summary" to "description"?

[code]

[code]

[2018-04-06 09:33] yyamano commented on #98
@auscaster I don't think it's merged into the master. I feel it's a bit ugly. If you are OK with it, I will send a pull request.

[2018-04-09 10:33] dapepe commented on #114
Worked for me!

[2018-04-09 16:16] spencer-rig commented on #124
Gotcha, ok. I think my issue stems from using a different tool: that if my code comment includes a period it'll be parsed by goswagger as a `summary` instead of a `description`. Thanks for the clues and insight!

[2018-04-09 16:16] #124 closed

[2018-04-10 01:40] rlauriston commented on #114
I'm not sure if this is the same problem. spectacle -d swagger.yaml fails with:
[code]
There is in fact no file or directory named vendor in /usr/local/lib/node_modules/spectacle-docs/node_modules/node-sass.

I tried rebuilding node-sass but so far as I can find there is no nodejs command on this system (OS X 10.12.6).

[2018-04-12 17:33] noliran commented on #98
Hi @yyamano,
Changing your snippet to:
[code]

Makes it much clearer (and also adds support for arrays along the way). What do you think?

[2018-04-13 07:26] yyamano commented on #98
@noliran Looks great!

![screenshot](https://user-images.githubusercontent.com/108492/38721991-6053d908-3f37-11e8-8045-92819530fd00.png)

[2018-04-15 13:43] chook commented on #120
Hi @auscaster - is there any way of supplying a default request sample? Something that will show the readers what a valid URL could look like?

[2018-04-15 16:15] auscaster commented on #98
Awesome work guys! I'm merging the PR now

[2018-04-15 16:16] #98 closed

[2018-04-22 12:45] dapepe opened #139 "Missing helper: "json-schema-resolve-ref""
Hi! When generating my documentation I receive the following error message:

[code]

In `views/partials/swagger/responses.hbs` I replaced `json-schema-resolve-ref` with `schemaResolveReference` since I **assume** this is the correct helper...

I am on the current version (1.0.3).

Any advice?

[2018-04-24 03:59] frankandrobot opened #140 "Schema definition property text is unreadable with defaults"
Below notice how "first" and "previous" are almost unreadable because it is too light (this is an accessibility issue).

![image](https://user-images.githubusercontent.com/787249/39165411-eee9b376-4749-11e8-85bd-b2e41a20565d.png)

[2018-04-27 12:05] andreaspsson opened #141 "Rendering issue with schemas with circular dependancies"
When a schema have circular dependancies, the rendered output looks really strange, see here:
![screen shot 2018-04-27 at 14 03 30](https://user-images.githubusercontent.com/2647060/39361698-e79145b2-4a23-11e8-83a6-2b1137acbae5.png)

Here is a small schema that illustrates the problem:
https://gist.github.com/andreaspsson/3aea82c0489de63755c0145d017c80c3

I don't know that the best way t render su

[2018-05-01 01:26] Graham42 opened #142 "Cannot install with npm 5"
Steps to reproduce.
1. Open a fresh terminal (you're going to need to force close this)
2. Run `docker run --rm -it node:8 npm install -g spectacle-docs@1.0.3`
3. terminal will get through most of install and then spam this repeatedly:
[code]

I was able to narrow this specifically to npm 5 because if you run the following, it installs fine using node:8 and npm@4
[code]

[2018-05-02 16:15] lethjakman opened #143 "The version within the docker images is incorrect."
If I run the v1.0.2 spectacle docker image and check the spectacle version inside of the docker image, spectacle's version doesn't match the docker tag.

[code]

[2018-05-08 07:16] sammeraj opened #145 "Alignment issue with custom tables"
![alignment-issue](https://user-images.githubusercontent.com/38902004/39743192-c9be2a4e-52bd-11e8-8fbb-58c8172e8333.PNG)

[2018-05-08 21:17] rossvz commented on #85
Is there any progress here? I tried going the route of widdershins -> Slate, or widdershins -> shins and did not have any success

[2018-05-15 08:13] llirikkk opened #146 "x-external property when referencing external example"
Hi guys.

When I reference an external example I get x-external property added to that example.

**api.yaml:**
example:
      $ref: './examples/exampleResponse.json'

**In the browser:**
{
   ...
    "x-external": "examples/exampleResponse.json"
}

Is there a way to remove this extra property?

[2018-05-18 17:00] SandyChapman opened #147 "Unable to run Docker container"
`docker build` fails.

This is the output:

[code]

`docker run` also fails similarly:

[code]

Docker version: 18.03.1-ce-mac65

[2018-05-24 21:12] lourenzo opened #148 "Dependencies versions are outdated, `npm audit` fails"
I have `spectacle-docs` as a devDependency on a project of mine, and I'm getting a lot of warnings because of the outdated versions of `minimatch`, `lodash`, `qs`, `hoek`, `debug` and `tunnel-agent` that spectacle-docs requires.

The message I get from `npm audit`:

[code]

[2018-05-25 16:10] nurikabe opened #149 "Spectacle deletes public/index.html"
If I supply a different filename, for example:

    spectacle swagger.yaml -f api.html

Spectacle will still delete `public/index.html`

[2018-05-30 06:46] papriwal-prateek opened #150 "Segmentation fault on Linux machine"
Linux machine configuration
[code]

`spectacle` command works fine on Mac but on linux it fails with segmentation fault.

[code]

[2018-05-30 06:51] papriwal-prateek commented on #150
Also, if I run it with `--disable-css` option, then it works fine. Therefore, I think there is segmentation fault causing in the `sass` task.

[2018-06-01 06:57] alwindoss opened #151 "Left Panel is Report should be expandable"
Today the left panel of the generated report/documentation is not expandable, given APIs that are long we cannot view them fully

[2018-06-05 01:48] yyamano commented on #149
spectacle deletes all *.html files.

@auscaster Are there any reasons to delete all html files rather than generated files?

https://github.com/sourcey/spectacle/blob/master/app/lib/config.js#L124-L131

[code]

[2018-06-15 20:00] sirianni commented on #85
Try [ReDoc](https://github.com/Rebilly/ReDoc)

[2018-06-19 11:48] auscaster commented on #149
Any changes to the template files should be made to the view files under `app/views`

[2018-06-19 11:48] #149 closed

[2018-06-19 11:51] auscaster commented on #146
Spectacle does not currently support rendering response snippets from external files, for now please render them inline.

[2018-06-19 11:51] #146 closed

[2018-06-19 11:52] auscaster commented on #130
Thanks for reporting back with your solution, glad you got it sorted out and I hope it's working well for you

[2018-06-19 11:52] #130 closed

[2018-06-19 11:53] auscaster commented on #145
Thanks for the bug report. If you managed to fix this I would be happy to accept a PR

[2018-06-19 11:53] #136 closed

[2018-06-21 06:11] madb88 opened #153 "Unhandled rejection Error: ENOENT: no such file or directory"
Hi i have issue with newest version.
Running "predentation" task
Task error: { Error: ENOENT: no such file or directory, open 'path\tmp\spectacle-4140UoExiAqO9Dfd\index.html'

 errno: -4058,
  code: 'ENOENT',
  syscall: 'open',
  path: 'path\tmp\\spectacle-4140UoExiAqO9Dfd\\index.html'

Running "prettify:index" (prettify) task

Any idea what can be wrong ? Previously i didnt have such issue.
I hav

[2018-06-27 08:22] EgidioCaprino opened #156 "The implementation option must be passed to the Sass task"
[code]
produces
[code]
`swagger.yml` reports no error on [editor.swagger.io](https://editor.swagger.io/).

[2018-06-27 12:58] NordicGamer commented on #156
Hello! Exact same problem. Have you found any solution?

[2018-06-27 14:30] sm1th commented on #85
No progress? Would be nice... For now using widdershins > Slate

[2018-06-27 14:38] rhymes commented on #85
@sm1th check out https://github.com/Rebilly/ReDoc - it produces a single standalone HTML file and supports OpenAPI 3

[2018-06-27 15:01] MikeRalphson commented on #85
@rossvz please feel free to raise any issues over on https://github.com/mermade/widdershins (including any missing functionality or theming deficiencies).

[2018-06-27 19:43] pablomarambio commented on #156
Same here 😢
[Travis log of the error](https://travis-ci.org/Multicaja/api/builds/397493970#L496) has more info.
Do you have a fix?

[2018-06-28 03:39] smishmash commented on #156
I have the same problem. This is recent, probably due to a bug in a dependency. I have an older docker image, and an older install on my mac, that works as expected. Attempting to install the software at a new location produces this error.

[2018-06-28 12:40] jurgob commented on #156
I have the same problem

[2018-06-29 11:37] slide13 commented on #156
**smishmash** is right. I changed grunt-sass to 2.1.0 in dependency and it worked

[2018-06-29 17:55] offero commented on #156
It's the only dependency that has a "*" for a version number. This is why you don't do that.

[2018-06-29 23:32] TheIDCo-ScottLeckie commented on #156
+1
Changing the dependency to "2.1.0" in packages.json and "npm link" allowed me to work around.
Can this get updated in master? I went to do a pull request but it doesn't look like I can do so.

[2018-07-01 10:21] auscaster commented on #156
Hi all, thanks for the PR it was just merged in.

I'll look at updating spectacle to `grunt-saas` 3.0 today to see if we can fix outstanding issue #114

[2018-07-01 10:21] #156 closed

[2018-07-01 15:15] mbuguaWanjiku commented on #156
Changing grunt-sass dependency solved my issue too.

[2018-07-02 00:29] auscaster commented on #148
These dependencies have been updated, thanks for the reminder!

[2018-07-02 00:29] #148 closed

[2018-07-02 00:30] auscaster commented on #114
This is fixed after updating grunt-saas and node-sass to support grunt 1.0.x

[2018-07-02 00:30] #114 closed

[2018-07-02 00:31] #121 closed

[2018-07-02 00:33] auscaster commented on #129
I understand that this might be desirable, but would prefer to keep the default functionality as is unless enough people want it changed.

To change those values you can  just provide and `example` block

[2018-07-02 00:33] #129 closed

[2018-07-03 16:22] philsturgeon commented on #85
Cleaning house on http://openapi.tools for any tools which haven't even started OpenAPI v3.0 support, as it's been out for almost a year now. Let me know if there's a beta branch or anything like that and I'll be happy to add it back!

[2018-07-05 09:02] relair commented on #156
@lorem--ipsum This solution works, in my case I needed to add 'node-sass' to my package.json and install it for it to work, but its nice to have it working with latest version.

[2018-07-05 09:06] auscaster commented on #156
This has already been fixed on the latest package.

On Thu, 5 Jul 2018 at 11:03, Marcin <notifications@github.com> wrote:

[2018-07-12 16:43] lionelvillard opened #158 "Feature request: show example in yaml"
I would like to show the examples in the sidebar in yaml instead of JSON. This is a feature I could contribute to with a little guidance on how to start.

[2018-07-12 17:19] mrehder opened #159 "Contact, Schema, Version and Response Content-types put on right-hand black section"
On wind64 under cygwin

The generated pages are incorrectly split in the middle with some items separated on the right-hand side.

The web page has a black section on the right and Contact, Schema, Version and Response Content-types are put onto that black portion.

[2018-07-16 21:05] collinsauve commented on #101
Recursive types are legitimate in API contracts, is there any reason why this project cannot support them?  As an example, swagger-ui generates the example with `{}` replacing the start of the recursion.

[2018-07-23 08:02] veler commented on #70
Hi,
I'm having the same issue. Does anyone is working on a fix for this issue or has a workaround?

This issue is closed but I actually has exactly the same problem than @WillGunn .

Thanks =)

[2018-08-03 00:22] buzztaiki opened #161 "Docker image is older than 1.0.5"
Latest spectacle docker image in https://hub.docker.com/r/sourcey/spectacle is v1.0.2 older than 1.0.5.

Do you have update plan?

[2018-08-21 21:52] medmin commented on #156
@auscaster No. I have to add the "implementation: sass," to fix this problem.

It's 2018.8.21 today.

[2018-08-27 19:19] build-innerspaceio opened #164 "inserting analytics snippet"
How would i insert an analytics snippet (i.e. google analytics snippet) to track pageviews, etc?

[2018-08-31 07:33] codeoriginator commented on #156
Yes, I face the same issue with the latest.

[2018-08-31 18:42] cdtinney commented on #70
Also having this issue.

[2018-09-10 09:22] dirkschmid opened #165 "development-mode-live with local app directory"
Hi,

i'm running in an issue when i want to run the development-mode-live with an local application source directory.

my command is: `spectacle -D -a app target/swagger.json`

and then i always get this error:

[code]

[2018-09-10 09:47] hmiguel commented on #142
Same here.

[2018-09-10 11:15] soitgoes commented on #142
try npm 6.1.0 packaged with node 8.9.3

[2018-09-17 13:37] maniac0s commented on #156
@lorem--ipsum Could we get a full gruntfile for this solution?

[2018-09-21 16:49] mattosaur commented on #165
I'm having a similar issue when trying to run using a local customized app directory.

`spectacle -a template swagger.json`

[code]

[2018-09-29 00:07] natashapetrus commented on #165
@dirkschmid @mattosaur  same issue here but only if I use relative path.
Try using the full path instead, this works for me:
`spectacle -d -a "C:\Users\user\Documents\spectacle\app" swagger.json`

[2018-10-05 15:53] cbautista1002 commented on #161
Hi! Can the latest image for spectacle be pushed to dockerhub? Thanks!

[2018-10-08 23:50] spencer-rig opened #166 "Examples should expand references?"
I wonder if the `example` field should be allowed to have `$ref`s in it.

In my app, there's a nested map type, let's call it `FruitCartConfig`:

[code]
This allows me to make 1 API call that configures many fruits with many key-value pairs.

The example JSON I _want_ to use is something like
[code]

which would end up generating the example shown in the output

[code]

Any thoughts on this?

[2018-10-09 06:56] cjgordon commented on #104
Is anyone working on this request? If not I will take a look at it.

[2018-10-10 18:54] gmonz36 opened #167 "Display requests and responses schemas under endpoint description"
Hi, I would like to know if there is a way to display the requests and responses schemas directly under the request body and responses section instead of having to click on a link to the schema definition at the bottom of the page.

[2018-10-12 18:03] cloveras opened #168 "macOS install problems"
Hi

I have used Spectacle before (), but have a new Mac, and installation problems on macOS 10.13.6 (17G65).

This is the full output of the installation:

[code]

[2018-10-12 18:04] cloveras commented on #168
And the debug log: https://www.dropbox.com/s/v276vlbtk1go9ev/2018-10-12T18_00_50_642Z-debug.log?dl=0

[2018-10-13 10:57] cloveras commented on #168
Undo! Seems I needed to do some updating of npm and other modules. Works now:

[code]

[2018-10-13 10:57] #168 closed

[2018-10-15 08:40] arthurlacoste commented on #156
I have the same issue

[2018-10-26 05:43] yyamano commented on #167
There is no easy way.

I think you need to change app/views/partials/swagger/responses.hbs. Probably somewhere between https://github.com/sourcey/spectacle/blob/master/app/views/partials/swagger/responses.hbs#L32-L35

[2018-10-30 04:37] birbird opened #172 "Respnose lose schema properties"
It seems the response section only shows the type field, lose all others.
![response](https://user-images.githubusercontent.com/770541/47696184-9627ab80-dc40-11e8-91f3-e71cd06ff884.png)

[code]

[2018-11-17 08:57] marcuslindblom opened #173 "Run in production mode serves empty page"
What is the correct command for running the server in production mode?

When I run `spectacle -s swagger.json` I end upp with this in the browser

<img width="288" alt="screenshot 2018-11-17 at 09 56 22" src="https://user-images.githubusercontent.com/319720/48659295-1d518d80-ea4f-11e8-9e50-2ef6d1fef926.png">

[2018-11-26 10:06] oliviermaridat opened #174 "Docker image should use NodeJs 8+"
Hello!

Thanks for all the hard work.

I understood that due to the version of Saas that is used, NodeJs 8+ is required to run spectacle (see at least #156, #157, #114). But the Docker image "sourcey/spectacle" is provided with v7.5.0 which leads to the above well-known error.

Is it possible to ship the Docker image with NodeJs 8? Or is it possible to remove this dependency to NodeJs 8+ by using

[2018-11-27 17:26] sky10p opened #175 "Maven Adaption"
It would be very interesting if it could be easily adapted with a maven plugin that generated the documentation.

Is it possible?

[2018-11-28 11:01] #165 closed

[2018-11-28 20:22] abrongersma commented on #147
Hi @SandyChapman

I rolled back to version 1.0.3 35387af wasn't able to recreate this issue. The issue with deserializer.cc looks to be related to v8 and there are several issues from the v8 team for node 7.x and older.
Starting in version 1.04 the Dockerfile was changed to use `node:8-alpine`, which appears to not have the issues with v8.

If you're still having issues with this please leave a co

[2018-11-28 21:44] abrongersma commented on #174
Hi @oliviermaridat

The Docker image published to dockerhub is a bit out of date. If you clone this repo and build the docker container from source you'll be running the container using the `node:8-alpine` image.

```docker build . -t spectacle:latest```

[2018-11-28 22:38] lionelvillard opened #176 "navigation does not work when id contains multiple dot characters"
for instance when the definition name is `foo.bar.hello`

[2018-11-28 22:41] lionelvillard commented on #176
line 177 in `spectable.js` should be `var arrival   = this.getAttribute('href').replace(/\./g, "\\."),`

[2018-11-29 17:38] SandyChapman commented on #147
@abrongersma : Just re-pulled and tried again. It was still failing prior to the pull and is now working. Thanks!

[2018-11-29 17:38] #147 closed

[2018-12-06 01:30] yyamano commented on #159
@mrehder Could you upload screenshots? I can't reproduce the problem.

[2018-12-10 12:18] mrehder commented on #159
![spectacle issue](https://user-images.githubusercontent.com/12175335/49732174-b38e6300-fc4b-11e8-9e9c-fbb922172762.png)
picture included

[2018-12-10 12:18] #159 closed

[2019-01-09 15:35] kellycampbell opened #179 "navigation fails on method name with : characters"
This is similar to #176.

Chrome browser doesn't follow this link at all:

[code]

[2019-01-13 14:32] MicMicMon opened #181 "How to show response examples?"
I can't find how to make the response samples appear in the generated output.

My Open API file is:
[code]

So the example is in there. But when I build with `spectacle`, it does not show in the output. I understand only the schema shows up (in this case nothing, so can't see the returned output).

Thanks for the great work!

[2019-01-30 09:42] #179 closed

[2019-01-30 09:43] #176 closed

[2019-01-30 09:43] #158 closed

[2019-01-30 23:17] auscaster commented on #175
I'm sure it would be, although I'm not familiar with maven architecture so wouldn't be much help with the initial steps. If you wanted to build something I would be happy to answer any questions you had along the way.

I'll close this for now but feel free to keep commenting comment below.

[2019-01-30 23:17] #175 closed

[2019-01-30 23:18] auscaster commented on #166
This would be a great feature to have. I'll mark it as a feature request and maybe somebody would like to pick it up.

[2019-01-30 23:20] auscaster commented on #164
Just add your code to this file and rebuild: https://github.com/sourcey/spectacle/blob/master/app/views/partials/layout/head.hbs

[2019-01-30 23:20] #164 closed

[2019-02-03 22:37] mcrawshaw opened #183 "Not compatible with Node11/OSX"
This package works fine with Node.js 10.x, but fails with the following error when run under 11.x.
[code]
Should just be a matter of updating dep `node-sass` to v4.11.0 (see https://github.com/sass/node-sass/releases).  Happy to provide pull request...

[2019-02-14 09:04] gianniszach commented on #123
Hello, I'm using the latest docker image and I'm receiving the reported error. Can you help me resolve it?

[2019-03-05 19:58] zwcampbell commented on #56
@auscaster I'm trying to reference some path information in external .yaml files a la:
`
paths:
  /foo:
    $ref: "myFile.yaml#/paths/~1foo"
`
But it's throwing an error ("Couldn't replace reference"). Is there a different syntax that needs to be used? The aforementioned is working for Swagger UI.

[2019-03-06 15:01] huttotw opened #184 "Grunt not replacing index.html during live development mode"
When running in live development node:
[code]
`index.html` is not replaced within the `public` directory after an update to the `cheese.yml` file. The page reloads, and the console output indicates a change was made, there are just no updates to the served files.

[code]

[code]

[2019-03-06 15:20] huttotw commented on #184
Just an update, I have traced this to Line 58 in `index.js`, it looks like the spec data is not changing, thus `index.html` may be being updated, the underlying data is just the same, still investigating.

[2019-03-06 15:25] huttotw commented on #184
Another update, in `lib/resolve-references.js` line 57, it seems we are hitting the cache every time, rendering the same content.

[2019-03-07 22:52] michaelschofield commented on #181
Seconding! I'm not sure how to generate these.

[2019-03-08 21:58] elyesbenabdelkader commented on #181
Replace "examples" by "example", but your Open API will become invalid according to the specs.

[2019-03-24 03:05] tradingbills commented on #156
Todays date: Sat Mar 23 20:03:07 PDT 2019
Got handed an old Gruntfile.js and had to use the _implementation-fix_ above from lorem--ipsum and also added the
`npm i -D node-sass grunt-sass`
and it finally worked

[2019-03-27 12:29] MicMicMon commented on #181
Thanks I'll try.
Any chances to do a small update in the code to get the examples taken into account with "examples" ? (My spec is auto-generated from the unit tests of my API.)

[2019-03-27 12:31] MicMicMon commented on #181
Maybe just there, but I'm not so confident with the code: https://github.com/sourcey/spectacle/blob/378f89ef8519d8a657a7a0d4dac86bb1f7a2d3b9/app/lib/common.js#L89

[2019-04-08 06:33] Sazmeer opened #187 "Ability to not transform examples into JSON?"
If documentation is passed in with xml examples, is it possible to display xml tagged swagger responses into xml examples in the right hand side?

[2019-04-09 10:37] #184 closed

[2019-04-09 10:38] auscaster commented on #187
Sorry but I can't see us adding XML support.

[2019-04-09 10:38] #187 closed

[2019-04-09 10:40] auscaster commented on #183
Hi there, if you can provide a working PR than please go ahead and I will merge.

[2019-04-09 10:41] auscaster commented on #181
Hey guys, we now support the single `example` and multiple `examples` for rendering response examples.

[2019-04-09 10:41] #181 closed

[2019-05-08 18:30] krishsur commented on #161
Hi, any update on the latest image been pushed to docker hub?

[2019-05-17 03:42] watanabeshuji opened #188 "AWS Cloudformation template"
hello,
I created Cloudformatin template.
https://github.com/classmethod/cfn-swagger-docs

[2019-05-17 09:06] auscaster commented on #188
Hello
Nice work, if you would like to share it with the spectacle community I
would be open to adding it to the README below the docker section.
Just create a PR with a short description of what it is / how to use it,
I'm sure people will find it useful!

On Fri, 17 May 2019 at 05:42, SHUJI Watanabe <notifications@github.com>
wrote:

[2019-05-23 10:10] MicMicMon opened #189 "Bump dependencies to avoid npm audit fails"
Some dependencies of spectacle-docs are out of date and have `npm audit` alerts.

Would it be possible to update versions of dependencies, to avoid those alerts?

[code]

[2019-05-23 10:14] auscaster commented on #189
Thanks for this :)

[2019-06-27 14:15] tommyschnabel commented on #141
+1

[2019-06-29 09:06] #141 closed

[2019-06-29 09:14] auscaster commented on #141
Just merged a fix for this! Hope it helps

[2019-07-02 11:27] ykchong opened #191 "Multiple Schema not generated in parameter body"
# Setup
node v10
swagger 2.0
spectacle v1.0.7

# Issue

I used multiple schemas with `allOf` attribute in my body parameter but the schema is not generated in the documentation

![picture](https://user-images.githubusercontent.com/26899529/60509255-ca220780-9ccc-11e9-9ddc-9f65439173be.png)

# How to reproduce

swagger.yml

[code]

# What is expected

List the schemas in the request body panel

[2019-07-20 14:53] MicMicMon commented on #181
Thanks @auscaster  for the fix! Didn't have a chance to try again until now, and it is not fixed for me it seems :(

My spec is:
[code]

And the output is:
![image](https://user-images.githubusercontent.com/37897072/61580149-b10fb800-ab0e-11e9-8b45-384641de48bc.png)

Is there a flag I am missing or something?

Note: in the merge referred above, you say you want to keep the `example` backward compa

[2019-07-20 14:55] MicMicMon opened #192 "Do not show headers when empty"
I end up with empty headers in the doc, is it possible to avoid generating the table when they don't have data?

Example:
![image](https://user-images.githubusercontent.com/37897072/61580184-24b1c500-ab0f-11e9-88a7-191f759a4d41.png)

[2019-07-20 15:25] MicMicMon commented on #181
To be more precise, the spec is as below, and the example strings are still taken from the `schema` instead of the `examples` field. Can't figure out why looking at the source code in the merge, not familiar enough with the codebase :(

[code]

[2019-09-26 09:43] atzorvas commented on #85
@philsturgeon it would be cool to have a different column for tools that support documenting schemas/models. Nice stuff nevertheless!

Sad to not see spectacle with openapi v3 support :/

[2019-10-18 13:33] regel commented on #104
`Try now`, or "view a request as a curl command" would be awesome.

[2019-10-18 13:44] regel opened #193 "Enums values for nested objects in a Swagger schema"
Enums values for nested objects in a Swagger schema are not visible in the HTML files produced by Spectacle.

Swagger schema example:

[code]

The valid enum values "exact_match" and "did not match exactly" are not documented in the HTML file.

Environment:

2019-10-18 latest Docker image:

[code]

[2019-11-14 14:06] claudio-cavalcante opened #195 "Localization"
Will it be possible to translate the generated code to any language or at least to prepare the code for that?

I can help with the translation to Portuguese.

[2019-11-15 19:41] jkinley opened #196 "Live Reload Not working"
Hi, Great repo. Thanks for the effort. I am using the -D flag and live reload is not working. Do I have to install? Any ideas?

Thanks,

Jeff

[2019-11-21 18:32] GQuantrill commented on #153
Did you ever resolve this?  I have this issue as well running from anything above node 8.
For anything below node 8, I get "Assertion failed: (0), function uv_close, file ../deps/uv/src/unix/core.c, line 166."

Running the latest version of node doesn't help.

I'm just assuming this repo is no longer maintained.

[2020-03-04 07:41] thekevinbrown opened #204 "Can't run Spectacle in a monorepo managed by Yarn workspaces"
We're trying to use spectacle in a monorepo structured like this:

[code]

We're using Yarn workspaces, and because `api-1-docs` and `api-2-docs` share the Spectacle dependencies, they get hoisted up to the `node_modules` folder in `project` instead of landing in individual `node_modules` folders inside of `api-1-docs` and `api-2-docs`.

This is all fine until I try to run `spectacle swagger.json`

[2020-06-01 02:44] nickpoulos commented on #70
Yea that is a major disappointment. It's 2 years later now and still no support for multiple example types.  The stuff with the languages is extra, but not supporting a basic feature of the OpenApi Spec like 'examples' within 'responses' is a deal breaker.

[2020-06-15 11:56] RohanVardhan opened #207 "Unable to read environment variable"
I want to pass url set in the environment variable as follows:

`introspection: ${GRAPHQL_URL}`

But I am getting this error -
` Error: The protocol "" is not supported, cannot load "${GRAPHQL_URL}"`. However, if I replace it with actual URL, it is working correctly. Could someone help me out with this error.
Thanks.

[2020-11-19 18:36] amazing-jay opened #213 "How to create custom content &/ links?"
How can I create custom (not autogenerated) pages/content to be included in the navigation?

I'm trying create documentation similar to [github's](https://docs.github.com/en/free-pro-team@latest/graphql) where they have "Overview and Guides" elements that support the schema documentation.

Ideally, I hope to define the content in markdown and for the navigation to support anchors [like this](https

[2021-03-03 06:49] jordanmaguire opened #217 "Version 7 of commander has changed how options are parsed, causing options to have no effect in spectacle"
The latest major version of commander has changed how options are parsed:

https://github.com/tj/commander.js/blob/master/CHANGELOG.md#migration-tips

This is resulting in options being passed into spectacle having no effect.

EG:

When I run:

The path does not change from the default (`public`).

This library has specified any version of commander as a dependency:

https://github.com/sourcey/spe

[2021-03-03 06:57] jordanmaguire commented on #217
I think this is [yarn specific](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/) but you can work around this with a resolution in your package.json

[code]

[2021-05-17 05:31] jordanmaguire opened #223 "Breaking change in dependency Cheerio v1.0.0-rc.9"
One of the dependencies of spectacle is Cheerio

The latest RC has a breaking change.

https://github.com/cheeriojs/cheerio/releases/tag/v1.0.0-rc.9

I suppose you might like to decide whether  you lock the dependency down to an old version or lock it down to a newer version and change the syntax to fix the breaking change.

In the interim, I'm working around this by locking the dependency myself

[2021-07-21 14:16] tommyschnabel commented on #223
+1

[2021-08-23 03:10] jordanmaguire commented on #223
Looks to be resolved by #224

`yarn add 'spectacle-docs@https://github.com/sourcey/spectacle#3257da500b8a2483b6ad3356e50fe00b65bb6a6f'` until there's a release

[2021-08-23 03:10] #223 closed

[2021-08-23 03:10] jordanmaguire commented on #217
Looks to be resolved by #224

`yarn add 'spectacle-docs@https://github.com/sourcey/spectacle#3257da500b8a2483b6ad3356e50fe00b65bb6a6f'` until there's a release

[2021-08-23 03:10] #217 closed

[2021-08-23 03:16] jordanmaguire opened #225 "New release for #224"
#224 has a lot of useful fixes in it.

Right now I can use it with `yarn add 'spectacle-docs@https://github.com/sourcey/spectacle#3257da500b8a2483b6ad3356e50fe00b65bb6a6f'`

Are there any plans to do a release?

[2021-09-06 14:10] matiasmelendi commented on #225
A release of the latest changes would be super useful. I'm experiencing an issue with `Cheerio` that prevents me to generate docs and pulling the commit in the above comment solved it.

More details on the issue:
* Spectacle version: 1.1.0
* Error message: Unhandled rejection TypeError: cheerio is not a function
* Impact: I'm unable to generate docs

[2021-09-07 00:55] cjgordon commented on #225
I'm experiencing this same scenario:
- Spectacle version: 1.1.0
- Node Version v12.22.1
- Error message: Unhandled rejection TypeError: cheerio is not a function
- Impact: I'm unable to generate docs

Full Error Message:
[code]

Interestingly rolling back to 1.0.7 doesn't seen to resolve the issue. Will report back if I find a solution.

[2022-01-30 22:35] KevinColemanInc commented on #225
+1. Same issue on my m1 macbook. version is ^1.1.0

[2022-02-24 01:40] aeaston commented on #225
Actually, without the updates to node-sass dependency, this is broken on recent versions of node, and Node 12 is about to EOL. If we could publish the latest version, that would be super helpful.

[2022-03-16 19:57] rc-mattschwager opened #228 "Update jquery and leverage SRI"
Hi there,

I have a few suggestions for improving the security of the third-party `jquery` script loaded here: https://github.com/sourcey/spectacle/blob/master/app/views/partials/layout/head.hbs#L9

- Upgrade `jquery` to the latest version - there are currently known CVEs in `2.1.4`: https://snyk.io/test/npm/jquery/2.1.4
- Leverage SRI on the `script` attribute: https://developer.mozilla.org/en-US